body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.navbar {
    background-color: #444;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px; /* Space between links */
}

.navbar .nav-links li {
    display: inline;
}

.navbar .nav-links a {
    color: #fff; /* White text color */
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #ff6347; /* Change to accent color on hover */
}



/* Home Page Styles */
.home-section {
    background-color: #282c34;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.home-section h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.home-section h2 {
    font-size: 1.8em;
    margin-bottom: 1em;
}

.home-section p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}




/* footer styles */
.footer {
    background-color: #444;
    color: white;
    padding: 20px;
    text-align: center;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-links a {
    color: #ff6347;
    text-decoration: none;
}

.social-links a:hover {
    color: #fff;
}


/* Topics Section */
.topics-section {
    padding: 50px 20px;
    background-color: #fff;
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.topic-button {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
    max-height: 400px; /* Limit the height of each button */
}

.topic-button:hover {
    background-color: #ff6347;
    color: white;
}

.topic-button img {
    width: 200px; /* Smaller fixed width */
    height: 200px; /* Smaller fixed height */
    margin-right: 20px;
    border-radius: 10px;
    object-fit: cover; /* Ensure the image maintains aspect ratio and doesn't distort */
}

.topic-button span {
    font-size: 1.2em;
    font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
    .button-grid {
        grid-template-columns: 1fr; /* On small screens, switch to single column */
    }
}