body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.navbar {
    background-color: #444;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px; /* Space between links */
}

.navbar .nav-links li {
    display: inline;
}

.navbar .nav-links a {
    color: #fff; /* White text color */
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #ff6347; /* Change to accent color on hover */
}


.home-section {
    background-color: #282c34;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.home-section h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}







.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.safety-tips {
    width: 350px;
    padding: 20px;
    background-color: #282c34;
    color: white;
    border-radius: 15px 15px 0 0;
    text-align: center;
}

.game {
    text-align: center;
    width: 350px;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #3c3c3c;
    border-top: none;
}

.number-box {
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin: 0 5px;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #004750;
    border-radius: 5px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #f4f4f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005d60;
}

#result {
    margin-top: 20px;
    font-size: 16px;
    color: #001276;
}

.keypad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.keypad button {
    width: 30px;
    height: 30px;
    margin: 5px;
    font-size: 18px;
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-align: center; /* Ensure any text is centered */
}










.footer {
    background-color: #444;
    color: white;
    padding: 20px;
    text-align: center;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-links a {
    color: #ff6347;
    text-decoration: none;
}

.social-links a:hover {
    color: #fff;
}